**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan
*.tfplan.json
*.backup
*.bak
*.tmp
*.log
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.terraform.lock.hcl
